
body{
  background-image: url("login.jpg");
  background-repeat: no-repeat;   
    background-size: 100%;
    background-position: center;
    background-attachment: fixed; 
    height: 200px;
}
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(17, 216, 183) ;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .form_style{
    color:black;
    text-align:center;
    background-color:rgb(17, 216, 183) ;
     margin-left: 40%;
     margin-right:40%;
     margin-top: 16%;
     height:max-height;
     padding: 10px;
  }